.workspace {
  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary);

  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: minmax(100vh, 100%);
}

.sidebar {
  background-color: var(--color-bg-secondary);
  border-start-end-radius: 1.5rem;
  border-end-end-radius: 1.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.page-title {
  font-size: 1.5rem;
  margin: 0.75rem 1rem 0 1rem;
}
