html {
  --black: #000;
  --gray-dark-4: #181818;
  --gray-dark-3: #222;
  --gray: #383838;
  --white: #ccc;

  --color-bg-primary: var(--gray-dark-4);
  --color-bg-secondary: var(--gray-dark-3);

  --color-fg-primary: var(--white);
}
