.task-editor {
  text-align: right;
  width: 100%;
}

.task-name-input,
.task-description-input {
  background-color: transparent;
  color: inherit;
  outline: none;
  width: 100%;
}

.task-priority-level-input,
.task-due-date-input,
.task-description-input {
  margin-bottom: 0.5rem;
}

.task-priority-level-input,
.task-due-date-input {
  border: 1px solid #555;
  border-radius: 0.5rem;
  display: block;
  font-size: 0.75rem;
  padding: 0.125rem 0.375rem;
}

.task-description-input {
  color: var(--color-fg-secondary);
  font-size: 0.875rem;
}

.cancel-task-editor-button,
.submit-task-editor-button {
  background-color: transparent;
  color: var(--color-fg-secondary);
  padding-inline: 0.125rem;
  scale: 0.875;
}

.cancel-task-editor-button:hover,
.submit-task-editor-button:hover {
  color: var(--color-fg-highlight);
}
