.task-editor {
  text-align: right;
  width: 100%;
}

.task-name-input,
.task-description-input {
  width: 100%;
}

.task-name-input,
.task-description-input {
  background-color: transparent;
  color: inherit;
  outline: none;
}

.task-name-input {
  margin-bottom: 0.5rem;
}

.cancel-task-editor-button,
.submit-task-editor-button {
  background-color: transparent;
  color: var(--color-fg-secondary);
  padding-inline: 0.125rem;
  scale: 0.875;
}

.cancel-task-editor-button:hover,
.submit-task-editor-button:hover {
  color: var(--color-fg-highlight);
}
