.board-container:not(.hidden) {
  display: grid;
  height: 100%;
}

.board-container {
  padding: 1.25rem;

  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 1fr;
  gap: 1rem 2rem;
}

.board-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.create-new-list-button {
  background-color: transparent;
  color: var(--color-fg-secondary);

  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.create-new-list-button:hover {
  color: var(--color-fg-highlight);
}

.lists-container {
  grid-column: span 2;

  display: flex;
  align-items: start;
  gap: 1rem;
}
