.task-container {
  background-color: #181818;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.task-container.editing {
  background-color: var(--color-bg-highlight);
}

.task-header {
  display: flex;
  align-items: start;
}

.task-label {
  flex-grow: 1;
  min-width: 0;
  overflow-wrap: break-word;
}

.task-container:hover .task-options-button {
  display: block;
}

.task-options-button {
  background-color: transparent;
  color: var(--color-fg-secondary);
  display: none;
  padding-inline: 0.125rem;
  margin-right: -0.25rem;
  min-width: max-content;
}

.task-container.editing :is(
  .task-options-button,
  .task-description,
 ) {
  display: none;
}

.task-options-button:hover {
  color: var(--color-fg-highlight);
}

.task-options-icon {
  scale: 0.75;
}

.task-details {
  display: flex;
  justify-content: end;
}

.task-priority-level {
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 0.75rem;
  padding-inline: 0.375rem;
}

.task-priority-level.optional {
  background-color: #444;
}

.task-priority-level.low {
  background-color: #448;
}

.task-priority-level.medium {
  background-color: #a70;
}

.task-priority-level.high {
  background-color: #a40;
}

.task-priority-level.critical {
  background-color: #a00;
}

.toggle-description-button {
  background-color: transparent;
}

.task-details:has(.task-priority-level) {
  justify-content: space-between;
}

.toggle-description-icon {
  color: var(--color-fg-secondary);
  scale: 0.75;
}

.toggle-description-button:hover .toggle-description-icon {
  color: var(--color-fg-highlight);
}

.task-description {
  color: var(--color-fg-secondary);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.task-container:has(.task-description:not(.hidden)) .toggle-description-icon {
  rotate: 180deg;
}

.task-container.editing .toggle-description-button {
  display: none;
}
