.task-container {
  background-color: #181818;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.task-container.editing {
  background-color: var(--color-bg-highlight);
}

.task-header-container {
  display: flex;
  gap: 0.125rem;
  justify-content: space-between;
  align-items: start;
}

.task-label {
  min-width: 0;
  overflow-wrap: break-word;
}

.task-options-button {
  background-color: transparent;
  color: var(--color-fg-secondary);
  flex-shrink: 0;
  margin-right: -0.25rem;
  visibility: hidden;
}

.task-container:hover .task-options-button {
  visibility: visible;
}

.task-options-button:hover {
  color: var(--color-fg-highlight);
}

.task-options-icon {
  scale: 0.75;
}

.task-priority-level:not(.hidden) {
  display: inline-block;
}

.task-priority-level {
  border-radius: 0.5rem;
  font-size: 0.75rem;
  padding-inline: 0.375rem;
  width: max-content;
}

.task-priority-level.optional {
  background-color: #333;
  color: #666;
}

.task-priority-level.low {
  background-color: #66a;
  color: #005;
}

.task-priority-level.medium {
  background-color: #a73;
  color: #430;
}

.task-priority-level.high {
  background-color: #a40;
  color: #410;
}

.task-priority-level.critical {
  background-color: #a00;
  color: #400;
}

.task-description-toggle-container:not(.hidden) {
  display: flex;
}

.task-description-toggle-container {
  justify-content: end;
}

.task-description-toggle {
  background-color: transparent;
}

.task-description-toggle-icon {
  color: var(--color-fg-secondary);
  scale: 0.75;
}

.task-description-toggle:hover .task-description-toggle-icon {
  color: var(--color-fg-highlight);
}

.task-description {
  color: var(--color-fg-secondary);
  font-size: 0.875rem;
}

.task-container:has(.task-description:not(.hidden))
.task-description-toggle-icon {
  rotate: 180deg;
}

.task-container.editing :is(
  .task-header-container,
  .task-priority-level,
  .task-description-toggle-container,
  .task-description,
) {
  display: none;
}
