html {
  --black: #000;
  --gray-dark-15: #080808;
  --gray-dark-13: #181818;
  --gray-dark-12: #222;
  --gray-dark-9: #383838;
  --gray: #888;
  --gray-light-6: #bbb;
  --gray-light-8: #ccc;
  --white: #fff;

  --red: #f55;
  --purple: #690090;

  --color-bg-primary: var(--gray-dark-13);
  --color-bg-secondary: var(--gray-dark-12);
  --color-bg-highlight: var(--gray-dark-15);
  --color-bg-context-menu: var(--black);
  --color-bg-context-menu-highlight: var(--gray-dark-13);
  --color-bg-highlight-2: var(--purple);

  --color-fg-primary: var(--gray-light-8);
  --color-fg-secondary: var(--gray-light-6);
  --color-fg-highlight: var(--white);
  --color-fg-faint: var(--gray);
  --color-fg-critical: var(--red);
}
