.list-container {
  background-color: #222;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 11.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.list-label {
  font-size: 1.125rem;
  margin-top: 0.25rem;
  padding-inline: 0.75rem;
}

.list-container.editing {
  background-color: var(--color-bg-highlight);
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
