.list-container {
  background-color: #222;
  border-radius: 1rem;
  max-height: 100%;
  padding: 0.5rem;
  width: 11.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.list-container.editing {
  background-color: var(--color-bg-highlight);
}

.list-header {
  display: flex;
}

.list-container.editing .list-header {
  flex-direction: column;
}

.list-label {
  flex-grow: 1;
  font-size: 1.125rem;
  margin-top: 0.25rem;
  overflow-x: hidden;
  padding-inline: 0.75rem;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.list-container:hover .list-options-button {
  display: block;
}

.list-options-button {
  background-color: transparent;
  color: var(--color-fg-secondary);
  display: none;
  flex-shrink: 0;
  padding-inline: 0.5rem;
}

.list-container.editing .list-options-button {
  display: none;
}

.list-options-button:hover {
  color: var(--color-fg-highlight);
}

.tasks-list {
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.new-task-button {
  background-color: transparent;
  border-radius: 0.5rem;
  color: var(--color-fg-secondary);
  padding: 0.5rem 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.new-task-button:hover {
  background-color: var(--color-bg-primary);
}

.new-task-button:hover::after {
  content: 'New task';
}

.new-task-icon {
  display: inline-block;
  scale: 0.75;
}
