.board-editor:not(.hidden) {
  display: flex;
}

.board-editor:has(:focus) {
  background-color: var(--color-bg-highlight);
}

.board-name-input {
  background-color: transparent;
  color: inherit;
  min-width: 0;
  outline: none;
  padding-block: 0.375rem;
  padding-inline: 1rem;
}

.cancel-board-editor-button,
.submit-board-editor-button {
  background-color: transparent;
  color: var(--color-fg-secondary);
  padding-inline: 0.25rem;
}

.submit-board-editor-button {
  padding-inline-end: 0.625rem;
}

.cancel-board-editor-button:hover,
.submit-board-editor-button:hover {
  color: var(--color-fg-highlight);
}
