.board-list-container {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.board-list-header {
  display: flex;
  gap: 0.5rem;
  margin-inline: 1rem;
  margin-bottom: 0.5rem;
}

.board-list-label {
  font-size: 1.25rem;
}

.create-board-button {
  background-color: transparent;
  color: var(--color-fg-secondary);
}

.create-board-button:hover {
  color: var(--color-fg-highlight);
}

.board-list-container {
  position: relative;
}

.board-list {
  display: flex;
  flex-direction: column;
}

.board-list-item:not(.hidden) {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.board-list-item:hover {
  background-color: var(--color-bg-highlight);
}

.board-list-item.is-menu-context {
  background-color: var(--color-bg-highlight-2);
}

.board-select-button {
  background-color: transparent;
  color: var(--color-fg-primary);
  cursor: default;
  overflow-x: hidden;
  padding: 0.375rem 1rem;
  text-align: start;
  width: 100%;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.board-list-item.selected:not(.is-menu-context) .board-select-button {
  color: var(--color-fg-highlight-2);
}

.board-list-item:hover .board-options-button,
.board-list-item.is-menu-context .board-options-button {
  display: block;
}

.board-list-item.moving {
  animation: flash 1.2s ease-in-out infinite;
}

@keyframes flash {

  0%, 100% {
    background-color: transparent;
    box-shadow: none;
  }

  50% {
    background-color: var(--color-bg-highlight);
    box-shadow: 0 0 8px var(--color-bg-highlight);
  }
}

.board-options-button {
  background-color: transparent;
  color: var(--color-fg-secondary);
  display: none;
  padding-inline: 0.5rem;
}

.board-options-button:hover {
  color: var(--color-fg-highlight);
}
