.board-list-container {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.board-list-header {
  display: flex;
  gap: 0.5rem;
  margin-inline: 1rem;
  margin-bottom: 0.5rem;
}

.board-list-label {
  font-size: 1.25rem;
}

.create-new-board-button {
  background-color: transparent;
  color: var(--color-fg-secondary);
}

.create-new-board-button:hover {
  color: var(--color-fg-highlight);
}

.board-list {
  display: flex;
  flex-direction: column;
}

.board-list-item {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.board-list-item:hover {
  background-color: var(--color-bg-highlight);
}

.board-list-item.is-menu-context {
  background-color: var(--color-bg-highlight-2);
}

.board-select-button {
  background-color: transparent;
  color: var(--color-fg-primary);
  cursor: default;
  padding: 0.375rem 1rem;
  text-align: start;
  width: 100%;
}

.board-list-item:hover .board-options-button,
.board-list-item.is-menu-context .board-options-button {
  display: block;
}

.board-options-button {
  background-color: transparent;
  color: var(--color-fg-secondary);
  display: none;
  padding-inline: 0.5rem;
}

.board-options-button:hover {
  color: var(--color-fg-highlight);
}

.board-entry:not(.hidden) {
  display: flex;
}

.board-entry:has(:focus) {
  background-color: var(--color-bg-highlight);
}

.board-name-input {
  background-color: transparent;
  color: inherit;
  min-width: 0;
  outline: none;
  padding-block: 0.375rem;
  padding-inline: 1rem;
}

.cancel-board-entry-button,
.confirm-board-entry-button {
  background-color: transparent;
  color: var(--color-fg-secondary);
  padding-inline: 0.25rem;
}

.confirm-board-entry-button {
  padding-inline-end: 0.625rem;
}

.cancel-board-entry-button:hover,
.confirm-board-entry-button:hover {
  color: var(--color-fg-highlight);
}
