.sidebar {
  background-color: var(--color-bg-secondary);
  border-start-end-radius: 1.5rem;
  border-end-end-radius: 1.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.page-title {
  font-size: 1.5rem;
  margin: 0.75rem 1rem 0 1rem;
}

.board-list-container {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.board-list-header {
  display: flex;
  gap: 0.5rem;
  margin-inline: 1rem;
  margin-bottom: 0.5rem;
}

.board-list-label {
  font-size: 1.25rem;
}

.create-new-board-button {
  background-color: transparent;
  color: var(--color-fg-primary);
}

.create-new-board-button:hover {
  color: var(--color-fg-highlight);
}

.board-list {
  display: flex;
  flex-direction: column;
}

.board-list-item {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.board-list-item:hover {
  background-color: var(--color-bg-highlight);
}

.board-select-button {
  background-color: transparent;
  color: var(--color-fg-primary);
  padding: 0.375rem 1rem;
  text-align: start;
  width: 100%;
}

.board-options-button {
  background-color: transparent;
  padding-inline: 0.5rem;
  display: none;
}

.board-list-item:hover .board-options-button {
  display: block;
}

.board-options-icon {
  color: var(--color-fg-primary);
}

.board-options-button:hover .board-options-icon {
  color: var(--color-fg-highlight);
}

.new-board-entry:not(.hidden) {
  display: flex;
}

.new-board-entry:has(:focus) {
  background-color: var(--color-bg-highlight);
}

.new-board-name-input {
  background-color: transparent;
  color: inherit;
  min-width: 0;
  outline: none;
  padding-block: 0.375rem;
  padding-inline: 1rem;
}

.cancel-new-board-button,
.confirm-new-board-button {
  background-color: transparent;
  color: inherit;
  padding-inline: 0.25rem;
}

.confirm-new-board-button {
  padding-inline-end: 0.625rem;
}
