#workspace {
  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary);

  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: minmax(100vh, 100%);
}

.sidebar {
  background-color: var(--color-bg-secondary);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.page-title {
  font-size: 1.5rem;
  margin: 0.75rem 1rem 0 1rem;
}

.board-list-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 1fr;
  column-gap: 1rem;
}

.board-list-label,
#add-board-button {
  margin-inline: 1rem;
  margin-bottom: 0.5rem;
}

.board-list-label {
  font-size: 1.25rem;
}

.board-container {
  padding: 1.25rem;

  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 1fr;
  gap: 1rem 2rem;
}

.board-title {
  font-size: 1.25rem;
}

.lists {
  grid-column: span 2;
}
