#workspace {
  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary);

  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: minmax(100vh, 100%);
}

.board-placeholder:not(.hidden) {
  display: flex;
}

.board-placeholder {
  color: var(--color-fg-faint);
  font-size: 1.75rem;
  font-weight: bold;
  height: 100%;

  justify-content: center;
  align-items: center;
}
