#workspace {
  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary);

  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: minmax(100vh, 100%);
}

.sidebar {
  background-color: var(--color-bg-secondary);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.page-title {
  font-size: 1.5rem;
  margin: 0.75rem 1rem 0 1rem;
}

.board-list-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 1fr;
  column-gap: 1rem;
}

.board-list-label,
#create-new-board-button {
  margin-inline: 1rem;
  margin-bottom: 0.5rem;
}

.board-list-label {
  font-size: 1.25rem;
}

.create-new-board-icon {
  color: var(--color-fg-primary);
}

#create-new-board-button:hover .create-new-board-icon {
  color: var(--color-fg-highlight);
}

.board-nav {
  grid-column: span 2;
}

.board-list {
  display: flex;
  flex-direction: column;
}

.board-list-item {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.board-list-item:hover {
  background-color: var(--color-bg-highlight);
}

.board-select-button {
  background-color: transparent;
  color: var(--color-fg-primary);
  padding: 0.375rem 1rem;
  text-align: start;
  width: 100%;
}

.board-options-button {
  background-color: transparent;
  padding-inline: 1rem;
  display: none;
}

.board-list-item:hover .board-options-button {
  display: block;
}

.board-options-icon {
  color: var(--color-fg-primary);
}

.board-options-button:hover .board-options-icon {
  color: var(--color-fg-highlight);
}

.board-container {
  padding: 1.25rem;

  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 1fr;
  gap: 1rem 2rem;
}

.board-title {
  font-size: 1.25rem;
}

.lists {
  grid-column: span 2;
}
