#workspace {
  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary);

  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: minmax(100vh, 100%);
}

.board-container {
  padding: 1.25rem;

  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 1fr;
  gap: 1rem 2rem;
}

.board-placeholder {
  color: var(--color-fg-faint);
  font-size: 1.75rem;
  font-weight: bold;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board-title {
  font-size: 1.25rem;
}

.lists {
  grid-column: span 2;
}
