body {
  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary);

  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: minmax(100vh, 100%);
}

.sidebar {
  background-color: var(--color-bg-secondary);
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.page-title {
  font-size: 1.5rem;
}

.project-list-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 1fr;
  gap: 0.5rem 1rem;
}

.project-list-label {
  font-size: 1.25rem;
}

.project-container {
  padding: 1.25rem;

  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 1fr;
  gap: 1rem 2rem;
}

.project-title {
  font-size: 1.25rem;
}

.lists {
  grid-column: span 2;
}
